@font-face {
  font-family: 'iconfont';
  src: url('../iconfont/ux_1467212877_0407512/confont.eot');
  /* IE9*/
  src: url('../iconfont/ux_1467212877_0407512/iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */ url('../iconfont/ux_1467212877_0407512/iconfont.woff') format('woff'), /* chrome��firefox */ url('../iconfont/ux_1467212877_0407512/iconfont.ttf') format('truetype'), /* chrome��firefox��opera��Safari, Android, iOS 4.2+*/ url('../iconfont/ux_1467212877_0407512/iconfont.svg#iconfont') format('svg');
  /* iOS 4.1- */
}
.iconfont {
  font-family: "iconfont" !important;
  font-size: 40px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
html,
body {
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "΢���ź�", Arial, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
li,
div {
  margin: 0 auto;
  padding: 0;
  text-align: center;
  list-style: none;
}
ul:after,
li:after,
.section:after {
  content: '';
  display: block;
  clear: both;
}
a:hover,
a {
  color: #fff;
  text-decoration: none;
}
body a:link,
body a:visited {
  color: #fff;
  text-decoration: none;
}
body nav {
  position: fixed;
  z-index: 999;
  width: 300px;
  height: 100%;
  background-color: #2D2D2D;
}
body nav h1.iconfont {
  font-size: 100px;
  margin: 50px 0 200px;
  transition: all 0.2s linear;
}
body nav h1.iconfont a {
  color: #1F1F1F;
}
body nav h1.iconfont a:hover {
  color: #2ECC71;
}
body nav > ul li {
  position: relative;
  margin-bottom: -5px;
}
body nav > ul li h5 {
  position: absolute;
  top: -5em;
  left: 60px;
  padding: 12px;
  border-radius: 4px;
  background-color: #0D9345;
  opacity: 0;
  display: none;
  transition: all 0.2s linear;
}
body nav > ul li h5 p {
  position: absolute;
  bottom: -14px;
  left: 60px;
  width: 1em;
  height: 1em;
  transform: rotate(60deg);
  background-color: #0D9345;
}
body nav > ul li a {
  display: inline-block;
  padding: 1em 4px 4px 4em;
  width: 100%;
  transition: all 0.2s linear;
  position: relative;
  z-index: 999;
}
body nav > ul li a:hover {
  background-color: #2ECC71;
}
body nav > ul li a:hover span {
  transform: rotate(360deg);
}
body nav > ul li a:hover p {
  color: #fff;
}
body nav > ul li span {
  transition: all 0.2s linear;
  float: left;
  margin: -8px 20px 0 -16px;
}
body nav > ul li div {
  float: left;
}
body nav > ul li div h3,
body nav > ul li div p {
  text-align: left;
}
body nav > ul li div p {
  color: #80806B;
}
body nav > ul li.active a {
  background-color: #2ECC71;
}
body nav > ul li.active a span {
  transform: rotate(360deg);
}
body nav > ul li.active a p {
  color: #fff;
}
body section {
  padding: 5em 8em;
  position: absolute;
  height: 100%;
  left: 300px;
  overflow-y: auto;
  display: none;
  right: 0;
  transition: all 0.2s linear;
}
body section.active {
  z-index: 100;
  overflow-y: auto;
  overflow-x: hidden;
  display: block;
  background-color: #fff;
  animation: slideInDown 0.4s linear;
}
body #sec0 {
  background: url('../img/sec0-bg.jpg') no-repeat;
  background-size: cover;
}
body #sec0 > ul {
  width: 80%;
  margin: 240px auto 0;
}
body #sec0 > ul > li > h2.iconfont {
  font-size: 10em;
  color: #fff;
  cursor: default;
}
body #sec0 > ul > li a {
  display: block;
  position: relative;
  min-width: 140px;
  border: 2px solid #fff;
  padding: 10px 0px;
}
body #sec0 > ul > li a > span {
  font-size: 1.4em;
  color: #31B46B;
}
body #sec0 > ul > li a h6 {
  position: absolute;
  border: 1px solid #fff;
  width: 0px;
  height: 0px;
  transition: all 0.2s linear;
  opacity: 0;
}
body #sec0 > ul > li a h6.line1 {
  width: 150px;
  left: -200px;
  bottom: -2px;
}
body #sec0 > ul > li a h6.line2 {
  height: 100px;
  top: -100px;
  left: -2px;
}
body #sec0 > ul > li a h6.line3 {
  width: 150px;
  left: 400px;
  top: -2px;
}
body #sec0 > ul > li a h6.line4 {
  height: 100px;
  top: 100px;
  right: -2px;
}
body #sec0 > ul > li a:hover h6.line1 {
  opacity: 1;
  left: 0;
}
body #sec0 > ul > li a:hover h6.line2 {
  opacity: 1;
  top: 0;
  height: 20px;
}
body #sec0 > ul > li a:hover h6.line3 {
  opacity: 1;
  left: 0;
}
body #sec0 > ul > li a:hover h6.line4 {
  opacity: 1;
  top: 0;
  height: 20px;
}
body #sec0 > div {
  position: relative;
  width: 80%;
  margin: 0 auto;
}
body #sec0 > div:hover h5 {
  opacity: 1;
}
body #sec0 > div > h3 {
  font-size: 4em;
  color: #fff;
  margin: 40px 0px 12px 0px;
}
body #sec0 > div > h4 {
  color: #fff;
}
body #sec0 > div h5 {
  position: absolute;
  left: 45%;
  top: -3.2em;
  padding: 12px;
  color: #fff;
  border-radius: 4px;
  background-color: #0D9345;
  opacity: 0;
  transition: all 0.2s linear;
}
body #sec0 > div h5 p {
  position: absolute;
  bottom: -16px;
  left: 66px;
  width: 1em;
  height: 1em;
  transform: rotate(45deg);
  background-color: #0D9345;
}
#sec1 > h1 {
  text-align: left;
  font-size: 4em;
  color: #2ECC71;
}
#sec1 > p {
  color: #5B5B5B;
  text-align: left;
  font-size: 1.5em;
  margin: 1em 0 0.8em;
}
#sec1 > span {
  display: block;
  width: 180px;
  border-top: 1px solid #5B5B5B;
}
#sec1 > ul > li {
  float: left;
  margin-top: 4em;
  height: 160px;
}
#sec1 > ul > li > div {
  float: left;
}
#sec1 > ul > li > div:first-child {
  padding: 0 0.8em;
  margin: -22px -10px 10px;
  font-size: 5em;
}
#sec1 > ul > li > div:last-child {
  max-width: 24em;
  text-align: left;
}
#sec1 > ul > li > div:last-child h2 {
  text-align: left;
  color: #2ECC71;
  margin-bottom: 0.6em;
}
#sec1 > ul > li > div:last-child > span {
  color: #A8A8A8;
}
#sec1 div.row {
  margin-top: 4.6em;
}
#sec1 div.row .canvas {
  margin-right: 2em;
}
#sec2 .sec2-bg {
  background: url('../img/sec2-camera-bg.jpg') no-repeat;
  background-size: 1600px 680px;
  margin: -5em -8em;
}
#sec2 .sec2-bg .sec2-mask {
  position: relative;
  right: 0;
  bottom: 0;
  height: 680px;
  background-color: rgba(12, 12, 12, 0.5);
  padding-top: 10em;
}
#sec2 .sec2-bg .sec2-mask .sec2-header-txt {
  margin-left: 15%;
  width: 35%;
  float: left;
}
#sec2 .sec2-bg .sec2-mask .sec2-header-txt .txt-header {
  text-align: left;
  color: #fff;
  font-size: 3em;
  margin-bottom: 1em;
}
#sec2 .sec2-bg .sec2-mask .sec2-header-txt .txt-body {
  text-align: left;
  color: #ccc;
  font-size: 1.6em;
}
#sec2 .sec2-bg .sec2-mask .sec2-header-pic-out {
  float: left;
  margin-left: 15%;
}
#sec2 .sec2-bg .sec2-mask .sec2-header-pic-out .sec2-header-pic {
  display: block;
  width: 168px;
  height: 168px;
  border-radius: 50%;
  border: 6px solid #ccc;
  margin: 0px 32px 32px 32px;
}
#sec2 .sec2-bg .sec2-mask .sec2-header-pic-out .sec2-header-pic:hover {
  width: 200px;
  height: 200px;
  cursor: pointer;
  margin: 0 16px 0 16px;
}
#sec2 .sec2-bg .sec2-mask .sec2-header-pic-out .sec2-header-pic1 {
  background: url('../img/sec2-camera1.jpg') no-repeat -120px -80px;
  background-size: 240%;
}
#sec2 .sec2-bg .sec2-mask .sec2-header-pic-out .sec2-header-pic2 {
  background: url('../img/sec2-byc1.jpg') no-repeat -165px -64px;
  background-size: 217%;
}
#sec2 .sec2-bg .aos-donghua1 {
  background: url('../img/cartton-elephant.jpg');
  background-attachment: fixed ;
  padding-top: 2em;
}
#sec2 .sec2-bg .aos-donghua1 .grid {
  width: 410px;
}
#sec2 .sec2-bg .aos-donghua1 .grid:after {
  content: '';
  display: block;
  clear: both;
}
#sec2 .sec2-bg .aos-donghua1 .aos-border {
  width: 500px;
  margin-top: 2em;
}
#sec2 .sec2-bg .aos-donghua1 .aos-border img {
  width: 100%;
  border-radius: 16px;
}
#sec2 .sec2-bg .aos-donghua1 .aos-border .effect-milo {
  min-width: 400px;
  max-width: 600px;
  border: 6px solid #aaa;
  border-radius: 24px;
}
#sec2 .sec2-bg .aos-donghua1 .aos-border .effect-milo figcaption > p {
  font-size: 18px;
}
#sec2 .sec2-bg .aos-donghua1 .aos-border-left {
  margin-left: 5em;
}
#sec2 .sec2-bg .aos-donghua1 .aos-border-right {
  margin-right: 5em;
}
#sec2 .sec2-bg .sec2-camera-footer {
  background-color: #ff0;
  color: #fff;
  font-size: 1.4em;
  margin-top: -2em;
  padding: 2em 5em 2em;
}
#sec2 .sec2-bg .sec2-camera-footer .camera-footer-header {
  font-size: 2.4em;
}
#sec2 .sec2-bg .sec2-camera-footer .camera-footer-header:before {
  content: '';
  display: table;
  clear: both;
}
#sec2 .sec2-bg .aos-donghua2 {
  background: url('../img/cartton-elephant.jpg');
  background-attachment: fixed ;
  padding-top: 2em;
}
#sec2 .sec2-bg .aos-donghua2 .grid {
  width: 410px;
}
#sec2 .sec2-bg .aos-donghua2 .grid:after {
  content: '';
  display: block;
  clear: both;
}
#sec2 .sec2-bg .aos-donghua2 .aos-border {
  width: 500px;
  margin-top: 2em;
}
#sec2 .sec2-bg .aos-donghua2 .aos-border img {
  width: 100%;
  border-radius: 16px;
}
#sec2 .sec2-bg .aos-donghua2 .aos-border .effect-jazz {
  min-width: 400px;
  max-width: 600px;
  border: 6px solid #aaa;
  border-radius: 24px;
}
#sec2 .sec2-bg .aos-donghua2 .aos-border .effect-jazz figcaption > p {
  font-size: 18px;
}
#sec2 .sec2-bg .aos-donghua2 .aos-border-left {
  margin-left: 5em;
}
#sec2 .sec2-bg .aos-donghua2 .aos-border-right {
  margin-right: 5em;
}
#sec3 {
  background: url('../img/sec3-bg.jpg');
  background-size: cover;
}
#sec3 > h1 {
  text-align: left;
  font-size: 4em;
  color: #2ECC71;
}
#sec3 > p {
  color: #5B5B5B;
  text-align: left;
  font-size: 1.5em;
  margin: 1em 0 0.8em;
}
#sec3 > span {
  display: block;
  width: 180px;
  border-top: 1px solid #5B5B5B;
  margin-bottom: 2em;
}
#sec3 #accordion .panel {
  background-color: transparent;
}
#sec3 #accordion .panel .panel-heading {
  padding: 0 5px;
  background: rgba(30, 30, 30, 0.5);
}
#sec3 #accordion .panel .panel-heading:hover {
  color: #BF7C3E;
}
#sec3 #accordion .panel .panel-heading .panel-title {
  line-height: 2em;
  font-size: 2em;
}
#sec3 #accordion .panel .panel-body {
  background: rgba(50, 50, 50, 0.5);
}
#sec3 #accordion .panel .panel-body .accordion-body li {
  font-size: 2.6em;
  line-height: 1.8em;
  color: #33B96A;
  margin-left: 2em;
  text-align: left;
}
@media screen and (min-width: 1200px) {
  #sec2 .sec2-bg .aos-border-right > .grid {
    right: 8em;
  }
  #sec2 .sec2-bg .aos-donghua1 .grid {
    width: 800px;
  }
  #sec2 .sec2-bg .aos-donghua1 .grid .effect-milo {
    width: 800px;
  }
  #sec2 .sec2-bg .aos-donghua2 .grid {
    width: 800px;
  }
  #sec2 .sec2-bg .aos-donghua2 .grid .effect-jazz {
    width: 800px;
  }
}
@media screen and (max-width: 1010px) {
  body nav {
    width: 126px;
  }
  body nav > ul > li > h5 {
    left: 0px;
    white-space: nowrap;
  }
  body nav > ul > li > a > div {
    display: none;
  }
  body section {
    left: 126px;
  }
  body #sec2 .sec2-bg .sec2-mask .sec2-header-txt {
    display: none;
  }
  body #sec2 .sec2-bg .sec2-mask .sec2-header-pic-out {
    width: 100%;
    height: 100%;
  }
  body #sec2 .sec2-bg .sec2-mask .sec2-header-pic-out .sec2-header-pic {
    float: left;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    border: 6px solid #ccc;
    margin: 0px 32px 32px 32px;
  }
  body #sec2 .sec2-bg .sec2-mask .sec2-header-pic-out .sec2-header-pic:hover {
    width: 300px;
    height: 300px;
    cursor: pointer;
    margin: 0 -2px 16px 16px;
  }
}
@keyframes slideIn {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0);
  }
}
.grid figure {
  transform: translateZ(0);
}
figure.effect-milo img {
  transform: translate3d(-10px, 0, 0) scale(1.2) !important;
}
figure.effect-milo:hover img {
  transform: translate3d(0, 0, 0) scale(1) !important;
}
